<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h1> Welcome to my about page</h1>
				<p>Allow me to introduce myself</p>
				<h2>About Me</h2>
				<p>
					I am currently pursuing a Database Application Developer program at Seneca College in Toronto, Canada, building on my prior education in Business Analytics from the same institution. I completed my Bachelor's in Computer Engineering from Mumbai University, India, where I developed a strong foundation in technical skills and problem-solving.
					
					In terms of professional experience, I have been working as a Printer/Associate at Zenan Glass in Toronto, where I oversee printing orders, manage shipping logistics, and ensure smooth operations on the factory floor. Previously, I worked as a Test Analyst at Tata Consultancy Services Ltd in Mumbai, where I contributed to project management and conducted thorough testing and reporting.
					
					In addition to my professional pursuits, I have actively engaged in volunteer work, including serving as a College Food Pantry Representative Volunteer, where I played a key role in food distribution and administrative support. I have also contributed to environmental initiatives, such as Beach Cleaning and Tree Plantation activities in Mumbai, aimed at fostering a cleaner and more sustainable ecosystem.
					
					I am passionate about leveraging my technical expertise and interpersonal skills to contribute positively to both the professional and social realms. I value teamwork, attention to detail, and a commitment to continuous learning and growth.
		<!-- End your code here  -->

	</main>
</div>