<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h1> Welcome to my about page</h1>
		<p>Allow me to introduce myself</p>
		<h2>About Me</h2>
		<p>Hello, I'm Akshayarekha Subhramaniyan, a student enrolled in the Postgraduate Program for Database Application Development at Seneca College.

			When I'm not diving into databases and technology, you'll often find me enjoying the serene beauty of nature. There's a special joy in taking a leisurely walk outdoors and connecting with the natural world.
			
			My passion for tech and my love for nature may seem like two different worlds, but they both bring balance to my life. I approach each day with enthusiasm, whether it's unraveling data puzzles or exploring the peaceful paths of the great outdoors.</p>


		<!-- End your code here  -->

	</main>
</div>