<!DOCTYPE html>
<html>

<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet"  href="/css/theme.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Akshay Naik</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br />

	<div class="container shadow-class" >
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<h1> Welcome to my about page</h1>
				<p>Allow me to introduce myself</p>
				<h2>About Me</h2>
				<p>
					I am currently pursuing a Database Application Developer program at Seneca College in Toronto, Canada, building on my prior education in Business Analytics from the same institution. I completed my Bachelor's in Computer Engineering from Mumbai University, India, where I developed a strong foundation in technical skills and problem-solving.
					
					In terms of professional experience, I have been working as a Printer/Associate at Zenan Glass in Toronto, where I oversee printing orders, manage shipping logistics, and ensure smooth operations on the factory floor. Previously, I worked as a Test Analyst at Tata Consultancy Services Ltd in Mumbai, where I contributed to project management and conducted thorough testing and reporting.
					
					In addition to my professional pursuits, I have actively engaged in volunteer work, including serving as a College Food Pantry Representative Volunteer, where I played a key role in food distribution and administrative support. I have also contributed to environmental initiatives, such as Beach Cleaning and Tree Plantation activities in Mumbai, aimed at fostering a cleaner and more sustainable ecosystem.
					
					I am passionate about leveraging my technical expertise and interpersonal skills to contribute positively to both the professional and social realms. I value teamwork, attention to detail, and a commitment to continuous learning and growth.
					

				<!-- End your code here  -->

			</main>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
		integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
		crossorigin="anonymous"></script>
</body>

</html>